.container_about {
    margin: 0em 5em 0em;
}

.container_about p {
    font-family: "Nunito";
    color: white;
    font-size: 115%;
    text-align: center;
    /* margin: 1rem 0; */
    padding-bottom: 1rem;
}