:root {
    --color-text: white;
}

.container_help {
    margin: 0em 5em 0em;
}

.container_help p {
    font-family: "Nunito";
    color: var(--color-text);
    font-size: 140%;
    text-align: center;
    /* margin: 1rem 0; */
    padding-bottom: 1rem;
}