.items {
    font-family: Nunito;
    font-size: 22px;
    color: white;
    width: 0;
    min-width: 20rem;
    margin: 1.2em auto auto;
}

col.place, col.score {
    width: 10%;
}

.items td {
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    border-bottom: 2px solid #ffd403;
    transition: transform 550ms;
}

.items tr:hover td {
    border-bottom: 3px solid #ffd403;
}

.items tr:hover td {
    transform: scale(1.1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.you {
    text-shadow: 
    0 0 30px #fff,
    0 0 10px red;
    font-weight: bold;
}
