@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}

.login__form {
    margin-top: 20px;
}

.go-to-sigup {
    text-align: center;
    font-family: Nunito;
    color: #f3f8f0;
    font-size: 22px;
}

.go-to-sigup__button {
    margin-left: 10px;
    color: gold;
    display: inline-block;
    text-decoration: underline;
    /* transition: transform 550ms; */
}

.go-to-sigup__button:hover {
    /* transform: scale(1.2); */
    color: #fff;
    text-shadow: gold 0 0 10px;
}