:root {
    --color-text-gold: gold;
    --color-text-hover: #ffd304;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'LuckiestGuy';
    src: url('../assets/fonts/LuckiestGuy-Regular.ttf');
}

.login__form {
    margin-top: 20px;
}

.go-to-sigup {
    text-align: center;
    font-family: Nunito;
    color: #f3f8f0;
    font-size: 22px;
}

.go-to-sigup__button {
    margin-left: 10px;
    color: var(--color-text-gold);
    display: inline-block;
    text-decoration: underline;
}

.go-to-sigup__button:hover {
    color: var(--color-text-hover);
    text-shadow: 2px 2px 2px var(--color-text-shadow-grey);
}