@font-face {
    font-family: 'LuckiestGuy';
    src: url('../fonts/LuckiestGuy-Regular.ttf');
}

@font-face {
    font-family: 'Dunkin';
    src: url('../fonts/Dunkin.otf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLight.ttf');
}

html {
    height: 100%;
    width: 100%;
    min-width: 25rem;
}

body {
    height: 100%;
    margin: 0;
    background-size: 100%;
    background: url("../donuts_font.png");
    background-size: cover;
}

#root {
    height: 100%;
    width: 100%;
}

.game-view {
    height: 100%;
    margin: 0;
    background-color: #5fbce3;
}

.menu {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.menu-center-block {
    height: 90%;
    width: 100%;
    display: table;
}

a {
    text-decoration: none;
    color: white;
}

.topmenu {
    height: 60px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.topmenu__user {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.topmenu__user__avatar {
    margin: 5px;
    height: 40px;
    width: 40px;
    background: url("../avatar.jpg");
    background-size: cover;
    border-radius: 100%;
    transition: transform 0.5s;
}

.topmenu__user__avatar:hover {
    transform: scale(1.2);
}

.topmenu__user__name {
    padding: 10px 0 0 8px;
    font-family: "Nunito";
    color: #f3f8f0;
    font-size: 20px;
}

.topmenu_user__left-position {
    position: absolute;
    top: 10px;
    left: 70px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.topmenu__buttons-right_container {
    right: 0;
    position: absolute;
    margin-top: 10px;
    height: 50px;
    width: 120px;
}

.topmenu__buttons-left_container {
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 70px;
    padding: 0 0 0 20px;
}

.topmenu__button {
    height: 40px;
    width: 40px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    background-size: cover;
    user-select: none;
    transition: transform 0.5s;
}

.topmenu__button:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.topmenu__button-mute.m-unmuted {
    background-image: url('../icons/i-unmuted.png');
}

.topmenu__button-mute.m-muted {
    background-image: url('../icons/i-muted.png');
}

.topmenu__button-settings {
    display: inline-block !important;
    background-image: url('../icons/i-settings.png');
}

.topmenu__button-back {
    background-image: url('../icons/i-back.png');
}

/* стили для центрального меню */

.lowermenu {
    display: table-cell;
    align-items: center;
    padding: 1rem 0;
}

.title {
    text-align: center;
    font-family: 'LuckiestGuy';
    color: #ffd304;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 1);
    font-size: 800%;
    margin: 0px 40px 50px 40px;
    user-select: none;
    padding-top: 70px;
}

.title__up {
    text-align: center;
    font-family: 'LuckiestGuy';
    color: #ffd304;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 1);
    font-size: 800%;
    margin: 0px 40px 0px 40px;
    user-select: none;
    padding-top: 20px;
}

.title__sub {
    text-align: center;
    font-family: "LuckiestGuy";
    color: #fff;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    font-size: 300%;
    user-select: none;
}

/* title для ошибок */

.title-error {
    text-align: center;
    font-family: "LuckiestGuy";
    color: red;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    font-size: 200%;
    user-select: none;
}

.title__sub-error {
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "LuckiestGuy";
    color: red;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    font-size: 200%;
    user-select: none;
}

.mainmenu__button-play {
    text-align: center;
    cursor: pointer;
    font-size: 70px;
    font-family: "LuckiestGuy";
    user-select: none;
    color: orange;
    transition: transform 0.5s;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.mainmenu__button-play:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

.mainmenu__button {
    text-align: center;
    cursor: pointer;
    font-size: 45px;
    font-family: "LuckiestGuy";
    user-select: none;
    color: #fff;
    transition: transform 0.5s;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 25px 0px 10px 0px;
}

.mainmenu__button:hover {
    opacity: 0.9;
    transform: scale(1.2);
    padding: 25px 0px 10px 0px;
}

/* cтиль для типа button */

.mainmenu__button-button {
    text-align: center;
    cursor: pointer;
    font-size: 45px;
    font-family: "LuckiestGuy";
    user-select: none;
    color: white;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    background: transparent;
    border: transparent;
}

.mainmenu__button-button:focus {
    outline: none;
}


input {
    outline: none;
    height: 50px;
    width: 280px;
    font-size: medium;
    font-family: "Nunito";
    padding: 0 0 0 20px;
    margin: 8px;
    opacity: 0.8;
    border-radius: 50px;
    border: none;
    margin: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #4360a1;
}

input.error_input {
    border-style: solid;
    border-width: 1px;
    border-color: #a10918;
}

input.correct_input {
    border-style: solid;
    border-width: 1px;
    border-color: #246919;
}

.input_block {
    flex-direction: row;
    margin-bottom: 10px;
    text-align: center;
}

.error_text {
    width: 200px;
    background-color: #a10918;
    color: white;
    font-family: 'Nunito';
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.arrow_block {
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url("../icons/arrow.png");
    background-size: cover;
}

/* Essential CSS - Makes the effect bubble work */

.bubbles {
    display: inline-block;
    position: relative;
}

.individual-bubble {
    width: 200px;
    height: 200px;
    background: url("../donut2.png");
    background-size: cover;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    transition: transform 550ms;
}

/* unuse in present moment*/

.individual-bubble:hover {
    transform: scale(1.2, 1.2);
}

.game__title-error {
    text-align: center;
    font-family: "LuckiestGuy";
    color: #f92397;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    font-size: 200%;
    user-select: none;
}