@import 'fonts';
@import 'topmenu';

$color-text-shadow: rgba(0, 0, 0, 1);
$color-text-shadow-grey: rgba(0, 0, 0, 0.4);
$color-text-shadow-grey-light: rgba(0, 0, 0, 0.2);

* {
  outline: none;
}

html {
  min-width: 400px;
  width: 100%;
  height: 100%;
}

body {
  min-width: 400px;
  height: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background: #fff url('../donuts_font.png') 100% 100%;
  background-size: cover; */
  background-color: #59c4eb;
}

#root {
  min-width: 400px;
  width: 100%;
  height: 100%;
}

//
//.game-view {
//    height: min-content;
//    margin: 0;
//    background-color: #59c4eb ;
//}

.menu {
  width: 100%;
  z-index: 0;
}

.menu-center-block {
  height: min-content;
  width: 100%;
  display: table;
}

a {
  text-decoration: none;
  color: #fff;
}

/* стили для центрального меню */
.view {
  min-width: 400px;
}

.lowermenu {
  display: table-cell;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
}

.title {
  text-align: center;
  font-family: 'LuckiestGuy';
  color: #ffd304;
  text-shadow: 2px 5px 2px $color-text-shadow;
  /* font-size: 16vw; */
  font-size: 16vmin;
  margin: 0px 40px 50px 40px;
  user-select: none;
  padding-top: 70px;
}

/* @media screen and (min-width: 800px) {
    .title {
       font-size: 800%;
    }
} */

.title__up {
  text-align: center;
  font-family: 'LuckiestGuy';
  color: #ffd304;
  text-shadow: 2px 5px 2px $color-text-shadow;
  font-size: 16vw;
  margin: 0px 40px 0px 40px;
  user-select: none;
  padding-top: 20px;
}

@media screen and (min-width: 800px) {
  .title__up {
    font-size: 800%;
  }
}

.title__sub {
  text-align: center;
  font-family: "LuckiestGuy";
  color: #fff;
  text-shadow: 2px 3px 2px $color-text-shadow-grey;
  font-size: 300%;
  user-select: none;
}

/* title для ошибок */
.title-error {
  text-align: center;
  font-family: "LuckiestGuy";
  color: red;
  text-shadow: 2px 3px 2px $color-text-shadow-grey;
  font-size: 200%;
  user-select: none;
}

.title__sub-error {
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "LuckiestGuy";
  color: red;
  text-shadow: 2px 3px 2px $color-text-shadow-grey;
  font-size: 200%;
  user-select: none;
}

.mainmenu__button-play {
  text-align: center;
  height: 70px;
}

.mainmenu__button-play {
  a {
    text-align: center;
    cursor: pointer;
    font-size: 70px;
    font-family: "LuckiestGuy";
    user-select: none;
    color: #fff;
    transition: font-size 0.5s;
    text-shadow: 2px 5px 2px $color-text-shadow-grey-light;
  }

  a:hover {
    opacity: 0.9;
    font-size: 80px;
  }
  /* a:focus {
    outline: none;
} */
}



.mainmenu__button {
  text-align: center;
  height: 60px;
  padding: 25px 0px 10px 0px;
}

.mainmenu__button {
  a {
    text-align: center;
    cursor: pointer;
    font-size: 45px;
    font-family: "LuckiestGuy";
    user-select: none;
    color: #fff;
    transition: font-size 0.5s;
    text-shadow: 2px 5px 2px $color-text-shadow-grey-light;
  }
  a:hover {
    opacity: 0.9;
    font-size: 55px;
  }
  a:focus {
    outline: none;
  }
  button {
    transition: font-size 0.5s;
  }
  button:hover {
    opacity: 0.9;
    font-size: 55px;
  }
}

.mainmenu__button-logout {
  text-align: center;
  cursor: pointer;
  font-size: 45px;
  font-family: "LuckiestGuy";
  user-select: none;
  color: #fff;
  transition: font-size 0.5s;
  text-shadow: 2px 5px 2px $color-text-shadow-grey-light;
  padding: 25px 0px 10px 0px;
}

.mainmenu__button-logout:hover {
  opacity: 0.9;
  font-size: 55px;
}

/* cтиль для типа button */
.mainmenu__button-button {
  text-align: center;
  cursor: pointer;
  font-size: 45px;
  font-family: "LuckiestGuy";
  user-select: none;
  color: #fff;
  text-shadow: 2px 5px 2px $color-text-shadow-grey-light;
  background: transparent;
  border: transparent;
}

.mainmenu__button-button:focus {
  outline: none;
}

/* cтиль для input */
/* input:focus, input:focus:invalid, input:focus:valid {
    border-style: solid 2px transparent;
}

input:invalid {
    border: solid 2px #F5192F;
}

input:valid {
    border: solid 2px green;
} */

input {
  height: 50px;
  width: 280px;
  font-size: medium;
  font-family: "Nunito";
  padding: 0 0 0 20px;
  margin: 8px;
  opacity: 0.8;
  border-radius: 50px;
  border: none;
  margin: 0;
  border: solid 2px transparent;
}

.input_block {
  flex-direction: row;
  margin-bottom: 10px;
  text-align: center;
}

/* .input-invalid {
    border: solid 2px #F5192F;
}

.input-invalid:focus  {
    border-style: solid 2px transparent;
}

.input-valid {
    border: solid 2px green;
}

.input-valid:focus  {
    border-style: solid 2px transparent;
} */
/***************************************************/

/* Essential CSS - Makes the effect bubble work */
.donuts {
  display: inline-block;
  position: relative;
}

.individual-donut {
  width: 200px;
  height: 200px;
  background: url("../img/donut.png");
  background-size: cover;
  position: absolute;
  bottom: -100px;
  z-index: -1;
  transition: transform 550ms;
}

